@tailwind base;
@tailwind components;
@tailwind utilities;

.changeDisplay {
  display: flex !important;
}
/* .slick-slider {
  position: static !important;
} */

.slick-prev,
.slick-next {
  width: 40px !important;
  height: 100% !important;
  color: black !important;
  z-index: 999 !important;
  background: black !important;
 

}

.slick-prev{
    left: 0vw !important;
}
.slick-next{
    right: 0vw !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  color: #ffffff !important;
  opacity: 1 !important;
}

.mobailMenuBg{
    background: #555357 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
}


.gradient{
  background: rgb(39,28,255);
background: linear-gradient(158deg, rgba(39,28,255,1) 0%, rgba(0,198,255,1) 0%, rgba(213,69,252,1) 68%);}


/* Header class */
.navListItems{
  position: relative;
}

.navListItems::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 7px;
  background-color: rgb(255, 130, 130);
  top: 100%;
  right: 0%;
  border-radius: 10px;
  transition: 0.5s;
}
.navListItems:hover::after{
  left: 0;
  width: 100%;
}

